.block{
    background-color:beige;
    border:20px solid blue;
    padding: 20px;
    width: 200px;
    height: 200px;    
      
}

.static{
    position:static;
    border:3px solid green;

}

.relative{
    position:relative;
    border:3px solid green;
    top:400px;
    left:500px;
    width:400px;
    height:400px;
}
.fixed{
    position:fixed;
    border:3px solid green;
    top:150px;
    left:50px;
    width:100px;
    height:100px;
}

.absolute{
    position:absolute;
    border:3px solid green;
    top:80px;
    left:50px;
    
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: #aaa;
    margin-bottom: 20px;
    display:inline-block
}

a{
    display:block;
}